<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
</head>

<body>
  <h1>
    <%= name %>
  </h1>
  <% tags.forEach(function(tag,index){ %>
  <% if (index === 0) { %>
  <h2>
    <a href="./<%= tag.tag %>">Latest|<%= tag.date %></a>
  </h2>
  <% } %>
  <h2>
    <a href="./<%= tag.tag %>"><%= tag.tag %>|<%= tag.date %></a>
  </h2>
  <% }); %>
</body>

</html>
